body {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;
}

#messageInput {
    height: 25px;
    width: 200px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 5px;
    border-style: solid;
}

#sentBtn {
    height: 32px;
    width: 60px;
    border: none;
    border-radius: 5px;
    padding: 0;
    margin-left: 10px;
    font-size: 15px;
    font-family: sans-serif;
    background: #2563eb;
    color: white;
}

#sentBtn:hover {
    background: #1d4ed8;
}

#messagesContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newMessage {
    width: 80%;
    margin-bottom: 10px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
}